@import 'tailwindcss';

@font-face {
  font-family: 'Space Mono';
  src: url('./config/fonts/SpaceMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Space Mono';
  src: url('./config/fonts/SpaceMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Space Mono';
  src: url('./config/fonts/SpaceMono-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Space Mono';
  src: url('./config/fonts/SpaceMono-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

body {
  font-family: 'Space Mono', monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(11, 3, 15);
  color: rgba(255, 255, 255, 0.781);
}
