@import 'tailwindcss';

@theme {
  --color-brand-violet: #2e004f;
  --color-brand-magenta: #ff00ff;
  --color-brand-yellow: #ffff00;

  --font-sans: 'Inconsolata', system-ui, sans-serif;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('/fonts/Inconsolata-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
  font-family: 'Inconsolata', system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  @apply bg-clip-text text-transparent bg-linear-to-r from-brand-magenta to-brand-yellow;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #242424;
}

button {
  cursor: pointer;
}

@media (min-width: 1280px) {
  .cyberpunk-dropdown {
    clip-path: polygon(20px 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0 20px);
  }
  .cyberpunk-glow {
    filter: drop-shadow(4px 4px 0px rgba(255, 0, 255, 0.5));
  }
}
